@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:200vh;
}

header{
    display: flex;
    background-color: #FFCAA6;
    flex-wrap: wrap;
	margin-bottom:40px;
}

/*.selecao {
    display: grid;
    grid-template-columns: 1fr 1fr;
}*/

.imgCompra, .compra {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo{
    margin-right:200px;
    max-width: 100%;
    height: auto;
}

.Bbusca{
    margin-right:10px;
}

#busca{
    width: 400px;
    margin-right: 5px;
}

.busca {
    display: flex;
    flex: 1;
}

.categorias, .maisVendidos {
    display: grid;
}

.navegation a{
    text-decoration: none;
    color: #7A7A7A;
}

.navegation a:hover{
    color: #000;
}

.carrosel, .categorias, .maisVendidos, .oferta, .newsletter{
    grid-column-start: 1;
    grid-column-end: 3;
}


header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.titulo{
    font-family: 'Island Moments', cursive;
    font-size: 50px;
    margin: 0;
}

h2 {
    font-size: 40px;
}

.price{
    font-weight: bold;
    font-size: 40px;
}

h2, .price, .parcelarPrice {
    margin: 0;
}

.linkcima{
    margin-right:50px;
}
/*
.carrossel{
    overflow:hidden;
    position: relative;
}

.slide{
    position: absolute;
    opacity: 0;
    transition: opacity 0.5 ease-in-out;
}

.slide.active{
    opacity: 1;
}

.slide img{
    object-fit: cover;
}
*/
.menu ul{
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: flex-end;
}

.menu ul li img {
    padding: 0 10px 0 0 ;
}

.menu a{
    text-decoration: none;
    color:black;
}

.menu a:hover{
    color:white;
}

.menu{
    background-color: #FFCAA6;
    width:100%;
    height:25px;
    text-align:center;
    padding: 0 0 5px 0;
}


.oferta, .maisVendidos{
    display: grid;
    padding-top: 50px;
    padding-bottom: 20px;
}

.ofertaLinha, .maisVendidosLinha, .categorias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.itemCategorias{
    height:260px;
    width:400px;
    background-color:white;
    display: grid;
    align-items: center;
    margin: 30px;
}

.itemMaisVendidos{
    height:260px;
    width:398px;
    background-color:white;
    display: grid;
    align-items: center;
    margin: 30px;
}

.img{
    border-radius: 50%;
    justify-self: center;
}


p{
    font-size: 15px;
}

.itemOferta{
    height:210px;
    width:300px;
    background-color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius:10px;
    border: solid;
    border-color: #D8976B;
    margin: 30px;
}

.newsletter{
    width: 100%;
    height: 100px;
    margin: 20px 0 20px 0;
    background-color: #FFDFC9;
    text-align: center;
    padding-top: 2px;
}

footer{
    background-color: #FFDFC9;
    width:100%;
    height: 150px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	
}

.footer{
	margin-left:50px;
}

.footer a{
    text-decoration: none;
    color: black;
}

.footer a:hover{
    color: purple;
}

h3{
    color: #D8976B;
}

::placeholder{
    text-align: center;
}

/*----------------------------------------------------------*/

#descontos{
    display:block;
}

#principal{
    display:grid;
    grid-template-columns:1fr 3fr;
}

#cores{
    margin: 20px;
}

#minimo, #maximo{
    width:40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

aside{
    border: solid;
    border-color: #D8976B;
    border-radius:15px;
    margin-top: 25px;
    text-align: center;
    font-size: 1.5rem;
}

.tamanho{
    padding: 0 2px 1px 2px;
    border: 1px solid;
    border-color: black;
    text-decoration:none;
    color:black;
}

.tamanho:hover{
    background-color: #D8976B;
    color: #FFF;
}

#filtro{
    background-color: #FFB481;
    border-color: white;
}

.main{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}

.img{
    border-radius: 50%;
    justify-self: center;
}

.item{
    height:175px;
    width:250px;
    background-color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius:10px;
    border: solid;
    border-color: #D8976B;
    margin: 35px;
}

#ofertalinha1, #ofertalinha2, #ofertalinha3{
    padding-top: 50px;
    padding-bottom: 20px;
}
